

.container{
   /* max-width: 140rem;*/
    padding: 4.2rem 2.4rem;
    display: flex;
    justify-content: space-between;
    /*width: 100%;
    background-image: linear-gradient(to right,#de6262 , #ffb88c);*/
}
ul{
    display: flex;
    gap: 2.2rem;
}
li:hover{
    text-decoration: underline;
    text-decoration-color: rgb(9, 105, 22);
    text-decoration-thickness: 3px;
}